# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
.nyc_output

# Grunt
.grunt

# Bower
bower_components

# Build binaries
build/Release

# Dependency directories
node_modules/

# npm cache
.npm

# eslint cache
.eslintcache

# REPL history
.node_repl_history

# npm pack output
*.tgz

# Yarn integrity
.yarn-integrity

# Environment variables
.env
.env.local

# Firebase dataconnect
.dataconnect

# Next.js
.next/
out/